body {
    background-image: url("../images/90sTheme.jpg");
    height: 600px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

h1,
h2 {
  text-align:center;
}

#after_submit {
  visibility: hidden;
}

.QuestionQuestion {
  margin-top:40px;
}

#start {
  font-size:3em;

}

.col {
 
  background-color:rgb(173, 139, 173);
}



